{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <!-- <h4>Here are the Catalogs</h4> -->

    <!-- <p>Congrats you are logged in!</p> -->
    
    {% if current_user.is_authenticated %}
        <p>Welcome : {{current_user.username}}</p>

        <!-- getting all the flashed messages and passing them to the messages variable -->
        {% with messages = get_flashed_messages() %}
            <!-- checking if their is a message -->
            {% if messages %}
                <ul>
                <!-- looping through the messages and printing it out-->
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <!-- adding new item -->
        <!-- <a href="{{url_for('createItem', categoryName=allCats.name)}}">Add New Item</a> -->
        <a href="{{url_for('createCategory', user_id=current_user.id)}}">Create new category</a>
        <!-- looping through the  categories-->
        {% for cat in allCats %}
            <li>
                <a href="{{url_for('allItems', categoryName=cat.name)}}">{{ cat.name }}</a>
                <a href="{{url_for('editCategory', categoryName=cat.name)}}">Edit</a>
                <a href="{{url_for('deleteCategory', categoryName=cat.name)}}">Delete</a>
            </li>

        {% endfor %}
        <!-- end of categories loop -->

    {% endif %}

{% endblock %}
