{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <h4>Editing item</h4>

    <!-- assigning all the messages to the messages variable -->
    {% with messages = get_flashed_messages() %}
        <!-- checking if their is a message -->
        {% if messages %}
            <ul>
            <!-- looping through the messages and printing it out-->
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form action="{{url_for('editItem', categoryName=categoryName, itemName=itemName)}}" method="POST">

        <p>Input the item details to update:</p>
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="description" name="description">
        <input type="text" placeholder="category" name="category">
        <input type="submit" value="Update">
        <!-- must change the url for the update -->
        <a href="{{url_for('viewItem', categoryName=categoryName, itemName=itemName)}}">Cancel</a>
    </form>
        
{% endblock %}