{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <h4 class="text-center text-2xl p-5">Welcome to the Item Catalog</h4>

    <!-- checking if the user is not authenticated -->
    {% if not current_user.is_authenticated %}
        <p class="text-center text-sm p-3">please login or regsiter</p>
        <!-- looping through all the categories -->
        {% for cat in categories %}
            <li>{{ cat.name }}</li>
        {% endfor %}
        {% else %}
            <h3>Welcome: {{ current_user.username }}</h3>
            {% for cat in categories %}
                <li><a href="{{url_for('allItems', categoryName=cat.name)}}">{{ cat.name }}</a></li>
            {% endfor %}
    {% endif %}
    
    
 
{% endblock %}