{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

        <!--NEW GOOGLE SIGN IN BUTTON -->
    <!-- <h2>There's a new Google Sign-In Option!!</h2>
    <p>my sate is: {{STATE}}</p>

    <script> -->

<!-- // gapi.load('auth2', initSigninV2);

// function initSigninV2() {
//     gapi.auth2.init({
//         client_id: '633581098598-s0nnrekmj814g6nlgbjv9fpkb5hrpkkj.apps.googleusercontent.com',
//         scope: "openid email",
//         redirecturi: "postmessage",
//         accesstype: "offline",
//         cookiepolicy: "single_host_origin",
//         callback: "signInCallback",
//         approvalprompt: "force"
//     }).then(function (authInstance) {
//         // now auth2 is fully initialized
//     });
// }
    
//   $('#signinButton').click(function() {
//     gapi.load('auth2', initSigninV2);
//     // gapi.load('auth2', function() {
//     //     let auth2 = gapi.auth2.init({
//     //         client_id: '633581098598-s0nnrekmj814g6nlgbjv9fpkb5hrpkkj.apps.googleusercontent.com',
//     //         cookiepolicy: 'single_host_origin'
//     //     });

//     //     // attachSignin(document.getElementById('google_signin'));
//     // });
//     // var auth2 = auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
//   }); -->
    <div id="result"></div>

<!--END NEW GOOGLE BUTTON -->


    <!-- LOGIN FORM -->

    <div class="w-full max-w-sm mx-auto m-8">

        <div class="g-signin2 p-5 rounded-full"
            id="signinButton">Sigin in with google</div>

            <button class="p-5 ">
                    <fb:login-button 
                    scope="public_profile,email"
                    onlogin="checkLoginState();">
                    </fb:login-button>
            </button>

        <a href="#" onclick="signOut();">Sign out</a>

        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="{{url_for('login')}}" method="POST">
            
            <!-- getting the flsh message -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {% if message == 'username and password are required' or 'invalid username or password'%}
                        <div class="flex items-center rounded shadow-md bg-red-400 text-white text-sm font-bold px-4 py-3 mt-3 mb-3" role="alert">
                            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/></svg>
                            <p class="text-white text-center">{{message}}</p>
                        </div>
                        {% elif message == 'Thanks for signing up. Please login' %}
                        <div class="flex items-center rounded shadow-md text-teal-500 text-white text-sm font-bold px-4 py-3 mt-3 mb-3" role="alert">
                            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/></svg>
                            <p class="text-white text-center">{{message}}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Username
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" name="username" type="text" placeholder="Username">
            </div>
            <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password" placeholder="******************">
            </div>
            <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Sign In
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{{url_for('index')}}">
                Cancel
            </a>
            </div>
        </form>
    </div>

    <!-- END OF LOGIN FORM -->

    <script>
    $('#signinButton').click(function() {
       auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(onSignIn);
    });
    </script>


    <script>
        // signin function
        function onSignIn(authCode) {
            // var profile = googleUser.getBasicProfile();
            // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            // console.log('Name: ' + profile.getName());
            // console.log('Image URL: ' + profile.getImageUrl());
            // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            
            // // The ID token you need to pass to your backend:
            // var id_token = googleUser.getAuthResponse().id_token;
            // console.log("ID Token: " + id_token)

            if (authCode['code']) {
              // Hide the sign-in button now that the user is authorized
              $('.g-signin2').attr('style', 'display: none');
              $('#result').html('One-Time Auth Code:</br>'+ authCode['code'] + '')
                
              // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            //   $.ajax({
            //     type: 'POST',
            //     url: '/oauth/google?state={{STATE}}',
            //     processData: false,
            //     contentType: 'application/octet-stream; charset=utf-8',
            //     data: googleUser['code'],
            //     success: function(result) {
            //       // Handle or verify the server response if necessary.
            //       if (result) {
            //         $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
            //         setTimeout(function() {
            //         window.location.href = "/";
            //         }, 4000);
                    
            //     } else if (googleUser['error']) {
            //       console.log('There was an error: ' + googleUser['error']);
            //     } else {
            //       $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            //     }
            //   } 
            // }); 
        
        }
        };

        
        // signout function
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
            });
        }
    
        // FACE BOOK LOGIN
        window.fbAsyncInit = function() {
            FB.init({
            appId      : '665421037263626',
            cookie     : true,
            xfbml      : true,
            version    : 'v4.0'
            });
            
            FB.AppEvents.logPageView();   
            
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function checkLoginState() {
            var access_token = FB.getAuthResponse()['accessToken'];
            console.log(access_token)
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            $.ajax({
            type: 'POST',
            url: '/fbconnect?state={{STATE}}',
            processData: false,
            data: access_token,
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
                // Handle or verify the server response if necessary.
                if (result) {
                $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                setTimeout(function() {
                window.location.href = "/";
                }, 4000);
                
            } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
            }
      
           });
        });
    }
    
    </script>



<!-- FACEBOOK LOGIN SCRIPT -->

<!-- END OF FACEBOOK LOGIN SCRIPT -->


 <!-- <div id="result"></div> -->

 <!--NEW GOOGLE SIGN IN BUTTON -->
 <!-- <h2>There's a new Google Sign-In Option!!</h2>
  
// <button  class="g-signin2" id="signinButton">Sign in with Google</button> -->
 <!-- Add where you want your sign-in button to render -->
 <!-- Use an image that follows the branding guidelines in a real app -->

 <!-- <script>
//   $('#signinButton').click(function() {
        
//     auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
//   });
// </script>
// </div> -->

 <!--END NEW GOOGLE BUTTON -->

 <!--NEW GOOGLE SIGN IN CODE -->
<script>
//     function signInCallback(json) {
//         console.log('inside callback fuction');
//         console.log(json);
//         // authResult = JSON.parse(json);
//         authResult = json;
//         if (authResult['code']) {
//             // Hide the sign-in button now that the user is authorized, for example:
//             $('#signinButton').attr('style', 'display: none');
//             $('#result').html('One-Time Auth Code:</br>'+ authResult['code'] + '');
//             // Send the code to the server
//             $.ajax({
//                 type: 'POST',
//                 url: '/oauth/google?state={{STATE}}',
//                 processData: false,
//                 data: authResult['code'],
//                 contentType: 'application/octet-stream; charset=utf-8',
//                 success: function(result) {
//                     // Handle or verify the server response if necessary.
//                     if (result) {
//                         $('#result').html('Login Successful!</br>'+ result + '')
//                     } else if (authResult['error']) {
//                         console.log('There was an error: ' + authResult['error']);
//                     } else {
//                         $('#result').html('Failed to make a server-side call. Check your configuration and console.');
//                     }
//                 }
//             }); 
//         }
//     }
// </script>

{% endblock %}