<!DOCTYPE html>
<html lang="en">
	<head>
			<script
			src="https://code.jquery.com/jquery-3.4.1.js"
			integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			crossorigin="anonymous"></script>

			<script src="https://apis.google.com/js/client:platform.js?onload=start"></script>
		<!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"> -->
	
		<script>
			gapi.load('auth2', function() {
				auth2 = gapi.auth2.init({
				client_id: '633581098598-s0nnrekmj814g6nlgbjv9fpkb5hrpkkj.apps.googleusercontent.com',
				// Scopes to request in addition to 'profile' and 'email'
				//scope: 'additional_scope'
				});
			});
		</script>
		<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
	
	</head>
	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>